// Common Colors present in all houses
$black: #000000;

// Gryffindor
$gf-dark-red: #740001;
$gf-light-red: #AE0001;
$gf-muztard: #D3A625;
$gf-yellow: #EEBA30;
$gr-gray: #C0C0C0;

// Slytherin
$sl-dark-green: #1A472A;
$sl-light-green: #2A623D;
$sl-gray: #5D5D5D;
$sl-light-gray: #AAAAAA;

// Ravenclaw
$rc-dark-blue: #0E1A40;
$rc-blue: #222F5B;
$rc-gray: #5D5D5D;
$rc-muztard: #946B2D;

// Hufflepuff
$hp-light-yellow: #FFF4B1;
$hp-medium-yellow: #FFED86;
$hp-yellow: #FFDB00;
$hp-gray: #60605C;